<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STL Data API</title>
    <style>
    body {
        margin: 0;
        padding: 0;
    }
    .navbar {
        height: 100px;
        min-width: 400px;
        background-color: crimson;
        display: block;
    }
    .doc {
        margin: 20px;
    }
    .code {
        background-color: lightgray;
        padding: 5px;
    }
    .footer {
        height: 100px;
        background-color: lightcoral;
    }
    </style>
</head>
<body>
    <div class="navbar">
        <h1 style="margin-top: 0px; padding: 30px; color: white;">STL Data API</h1>
    </div>
    <div class="doc">
        <h2>Welcome to the REST API for City of St Louis data.</h2>
        <p>Learn more about this API 
            <a href="./">here.</a> It is being actively developed with support of the Regional Data Alliance, and is currently maintained by <a href="mailto:bransonf@wustl.edu">Brason Fox</a></p>
        <h3>Documentation</h3>
        <p>This API is hosted at http://api.stldata.org and follows the REST specification for web APIs.

        Endpoints (Not Yet Implemented) include:
        <li>crime</li>
        <li>csb</li>
        <li>vacancy</li>
        <li>demo</li>
        <li>geo</li>

        Each will be discussed in greater detail below.
        </p>
        <h3>St. Louis Metropolitan Police Department</h3>
        <h4 class="code">/crime/</h4>
        <h3>Citizen's Service Bureau</h3>
        <h4 class="code">/csb/</h4>
        <h3>St. Louis Vacancy Collaborative</h3>
        <h4 class="code">/vacancy/</h4>
        <h3>St. Louis Demolitions</h3>
        <h4 class="code">/demo/</h4>
        <h3>St. Louis Geometry</h3>
        <h4 class="code">/geo/</h4>
    </div>
    <div class="footer">
        <h3 style="text-align: center; padding: 30px;">Made with &hearts; in St. Louis, MO</h3>
    </div>
</body>
</html>